@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text: #141616;
  --color-navbar-text: #fafafa;
  --color-secondary: #372aac;
}

html {
  scroll-behavior: smooth;
}

/* body {
  @apply bg-gradient-to-br from-white to-indigo-50;
  color: var(--color-text);
} */
body {
  background-image: linear-gradient(to bottom right, #ffffff, #eef2ff);

  color: var(--color-text);
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 1s ease-out both;
}
